:root {
    --primary: #8C38FF;
    --light: #EEEEEE;
    --dark: #212121;
}

body {
	background-color: #e6e6e6;
	font-family: Arial, sans-serif;
}

.login-box {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #888888;
	margin: 100px auto;
	padding: 20px;
	max-width: 400px;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
	background-color: #f2f2f2;
	border: none;
	border-radius: 5px;
	height: 30px;
	margin-bottom: 20px;
	padding: 5px;
}

input[type="submit"] {
	background-color:var(--primary) ;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	margin-bottom: 20px;
	transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
	background-color: var(--dark);
    color: var(--light);
}
